---
layout: default
title: TOGETHER WE CAN
---
<header>
	<div class="container">
		<div class="column">
			<div>
				<h1 class="editable">TOGETHER WE CAN</h1>
				<p class="editable">Giving back through life-changing experiences</p>
				<div class="button">
					<a href="#donate">Act Now</a>
				</div>
			</div>
		</div>
		<div class="column">
			<img src="{{ site.baseurl }}/images/enter.jpeg" alt="meyerholz">
		</div>
	</div>
</header>

<div class="container">
	<h2 class="editable" style="text-align: center;">About Us</h2>

	<ul class="thirds">
		<li>
			<div class="image">{% include icons/site.html icon="population" %}</div>
			<h3 class="editable">Our Team</h3>
			<p class="editable">Our amazing team of regulars and part-time volunteers are committed to helping others. We take our convictions and turn them into action. Think you would be a good fit? Get in touch for more information! </p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="economy" %}</div>
			<h3 class="editable">Our History</h3>
			<p class="editable">Seeing a need for energetic, nonprofit work in this area, we formed our organization to provide sensible solutions. We've consistently grown since then, all thanks to the helping hands of this amazing community!.</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="conditions" %}</div>
			<h3 class="editable">Our Mission</h3>
			<p class="editable">We focus on making the maximum positive effort for our community. Our members and volunteers provide the momentum that helps us affect change. Using data driven models, we provide solutions that make a long-lasting difference.</p>
		</li>
	</ul>
</div>

<div class="container">
	<div class="columns">
		<div>
			<img src="{{ site.baseurl }}/images/meyerholz.webp" alt="Volunteer">
		</div>
		<div>
			<h2 class="editable">Sunday Volunteer Service</h2>

			<p class="editable">Every Sunday, we mobilize our teams of volunteers to make a real difference. Join us and see what can be accomplished when you get an impassioned team to focus on change.</p>
		</div>
	</div>
</div>

<div class="container">
	<hr>
	<blockquote>
		<p class="quote editable">Our community is full of people who want to help. We work to help the people providing services with the people who need them. Come connect with people in new ways.</p>
		<div class="attribute">
			<p class="meta">
				<span class="image"><img class="editable" src="{{ site.baseurl }}/images/wooly.jpg" alt="Wooly"></span>
				<span class="author editable"><strong>Anonymous</strong></span>
			</p>
		</div>
	</blockquote>
</div>

<div class="darker">
	<div class="container">
		<h2 class="editable">Join us</h2>
		<p class="editable" style="text-align: center;">Sign up to hear the latest news and progress in our fight for the sheep vote.</p>
		<form action="{{ site.newsletter_action }}" method="post">
			<input type="text" name="EMAIL" placeholder="Email">
			<input type="submit" value="Sign up"/>
		</form>
	</div>
</div>

<div class="container" id="donate">
	<h2 class="editable">Make a donation</h2>
	<div class="donate">
		{{ site.donation_embed }}
	</div>
</div>

<div class="container">
	<h2 class="editable">Donate with PayPal</h2>
	<div>
		<img src="{{ site.baseurl }}/images/meyerholz.webp" alt="Volunteer">
	</div>
</div>

<div class="container">
	<h2 class="editable" style="text-align: center;">Make a donation</h2>

	<ul>
		<li>
			<h2 class="editable">Make a donation</h2>
			<div class="donate">
				{{ site.donation_embed }}
			</div>	
		</li>

		<li>
			<h2 class="editable">Donate with PayPal</h2>
			<div>
			<img src="{{ site.baseurl }}/images/meyerholz.webp" alt="Volunteer">
			</div>	
		</li>

	</ul>
</div>

<div class="darker">
	<div class="container">
		<h2 class="editable">Updates</h2>
		<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Update</a></p>
		<div class="posts">
			{% for post in site.posts %}
			<div class="post">
				<div class="image" style="background-image: url({{ post.featured_image}})"></div>
				<div class="post-content">
					<p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
					<h3>{{ post.title }}</h3>

					{{ post.content }}
					<p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="btn"><strong>&#9998;</strong> Edit Update</a></p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
