---
layout: default
title: TOGETHER WE CAN
---
<header>
	<div class="container">
		<div class="column">
			<div>
				<h1 class="editable">TOGETHER WE CAN</h1>
				<p class="editable">Welcome to Meyerholz Community Association, a non-profit community organization dedicated to
					improving the lives of those in our community through various initiatives and programs. With the support of
					volunteers and donors, we strive to make a positive impact and create a better future for all.
					Join us in our efforts to make a difference and build a stronger community.</p>
			</div>
		</div>
		<div class="column">
			<img src="{{ site.baseurl }}/images/enter.jpeg" alt="meyerholz">
		</div>
	</div>
</header>

<div class="container">
	<h2 class="editable" style="text-align: center;">About Us</h2>

	<ul class="thirds">
		<li>
			<div class="image">{% include icons/site.html icon="population" %}</div>
			<h3 class="editable">Our Team</h3>
			<p class="editable">Our amazing team of regulars and part-time volunteers are committed to helping others. We take our convictions and turn them into action. Think you would be a good fit? Get in touch for more information! </p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="economy" %}</div>
			<h3 class="editable">Our History</h3>
			<p class="editable">Meyerholz Elementary was founded in 1957, has 65 years of rich history and
				a CA distinguished elementary school, and was permanently closed. The community is very sad about this decision,
				and we formed this organization to connect the community members and help the families and kids that are in need.</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="conditions" %}</div>
			<h3 class="editable">Our Mission</h3>
			<p class="editable">Our mission is to empower and improve the lives of individuals and families in our community
				by providing access to resources, promoting education and growth, and fostering a supportive environment that
				celebrates diversity and inclusivity.</p>
		</li>
	</ul>
</div>

<div class="container">
	<div class="columns">
		<div>
			<img src="{{ site.baseurl }}/images/meyerholz.webp" alt="Volunteer">
		</div>
		<div>
			<h2 class="editable">Sunday Volunteer Service</h2>

			<p class="editable">Every Sunday, we mobilize our teams of volunteers to make a real difference. Join us and see what can be accomplished when you get an impassioned team to focus on change.</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="columns">
		<div>
			<h2 class="editable">Book donation</h2>

			<p class="editable">11-20-2022 We organized a book donation program for low income families.</p>
		</div>
		<div>
			<img src="{{ site.baseurl }}/images/book.jpg" alt="Book donations">
		</div>
	</div>
</div>

<div class="container">
	<div class="columns">
		<div>
			<img src="{{ site.baseurl }}/images/food_bank2.jpg" alt="Food bank">
		</div>
		<div>
			<h2 class="editable">Food Bank</h2>
			<p class="editable">11-20-2022 Our volunteers working at local food bank.</p>
		</div>
	</div>
</div>


<div class="container" id="donate">
	<h2 class="editable">Donate with PayPal</h2>
	<div>
		<center>
		<img src="{{ site.baseurl }}/images/paypal_donate_QR.png" alt="Volunteer">
		</center>
	</div>
</div>


